#wgtmsr {
    width:15em;
    padding-right: .5em;
}

#wgtmsr option {
    width:100px;   
}

#popup-title {
	text-align: center;
	background-color: skyblue;
	color: white;
	font-size: 2em;
	padding-top: 2px;
	padding-bottom: 5px;
	margin: -5px -10px -10px -10px;
}

#save-button {
	float: right;
}

#link-display {
	background-image: url('images/fade-icon.png');
	background-repeat: no-repeat;
	background-size: cover;
}